apiVersion: v1
kind: ServiceAccount
metadata:
  name: api-gateway
  namespace: pairdb
  labels:
    app.kubernetes.io/name: api-gateway
    app.kubernetes.io/component: gateway
    app.kubernetes.io/part-of: pairdb

