apiVersion: v1
kind: Service
metadata:
  name: pairdb-storage-node-headless
  namespace: pairdb
  labels:
    app: pairdb-storage-node
    component: storage
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: pairdb-storage-node
  ports:
  - name: grpc
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: gossip
    port: 7946
    targetPort: 7946
    protocol: TCP
