apiVersion: v1
kind: Service
metadata:
  name: pairdb-storage-node
  namespace: pairdb
  labels:
    app: pairdb-storage-node
    component: storage
spec:
  type: ClusterIP
  selector:
    app: pairdb-storage-node
  ports:
  - name: grpc
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: metrics
    port: 9091
    targetPort: 9091
    protocol: TCP
  sessionAffinity: None
